---
interface Props {
  user: {
    id: string;
    identification: {
      code: string;
      name: string;
      number: string;
    };
    name: string;
    image: string;
    role?: string;
    userType: {
      type: "Cliente" | "Proveedor" | "Vendedor";
      color: string;
    }[];
  };
}

const { user } = Astro.props;
const { identification, image, name, role, userType } = user;
---

<div
  class="mx-auto w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 overflow-hidden"
>
  <div class="flex justify-between">
    <div class="px-4 pt-4 pb-2">
      <span
        class="text-xs font-medium me-2 px-2.5 py-0.5 text-gray-500 dark:text-gray-400"
      >
        {role}
      </span>
    </div>
    <div class="flex justify-end px-4 pt-4 pb-2">
      {
        userType.map((type) => (
          <span
            class={`${type.color} text-xs font-medium me-2 px-2.5 py-0.5 rounded-full`}
          >
            {type.type}
          </span>
        ))
      }
    </div>
  </div>
  <div class="flex flex-col items-center pb-10">
    <img
      class="w-24 h-24 mb-3 rounded-full shadow-lg object-cover"
      src={image}
      alt={`${name} image`}
    />
    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
      {name}
    </h5>
    <span class="text-sm text-gray-500 dark:text-gray-400"
      >{identification.name}</span
    >
    <span class="text-sm text-gray-500 dark:text-gray-400"
      >{identification.number}</span
    >
    <div class="flex mt-4 md:mt-6">
      <a
        href="#"
        class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >Detalles</a
      >
      <!-- <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700 ms-3">Mensaje</a> -->
    </div>
  </div>
</div>
